﻿@inherits LayoutComponentBase

<CascadingValue Value="@this.NavigationBarContext">
  <div class="h-100 d-flex flex-column">
    @if (this.NavigationBarContext.ShowNavigationBar)
    {
      <div>
        <NavigationBar Title="@this.NavigationBarContext.Title" 
                       HideNavigationArrow="this.NavigationBarContext.HideNavigationArrow" 
                       OnBackClicked="this.NavigationBarContext.OnNavigationArrowClicked">
          <RightSideContent>
            @if (!string.IsNullOrEmpty(this.NavigationBarContext.RightSideActionButtonText))
            {
              @*
                Note: OnClick must call the action in that particular way in order for it to work correctly.
                It cannot use the simplified syntax.
              *@
              <Button Flat
                      Rectangular
                      Text="@this.NavigationBarContext.RightSideActionButtonText"
                      OnClick="() => this.NavigationBarContext.OnRightSideActionButtonClicked()"
                      CustomButtonClass="btn-md"
                      class="shadow-none my-0" />
            }
          </RightSideContent>
        </NavigationBar>
      </div>
    }
    <div class="container-fluid h-100" style="flex: 1; overflow: auto;">
      @Body
    </div>
    @if (this.NavigationBarContext.ShowBottomTabs)
    {
      <div>
        <BottomTabsNavbar>
          <BottomTabButton Text="Home" IconClass="fa-home" NavigateTo="@Routes.HOME" />
          <BottomTabButton Text="Explore" IconClass="fa-compass" NavigateTo="@Routes.EXPLORE" />
          <BottomTabButton Text="Activities" IconClass="fa-book" NavigateToContainer="@RouteContainerNames.ACTIVITIES" />
          <BottomTabButton Text="Profile" IconClass="fa-user" NavigateTo="@Routes.PROFILE" />
        </BottomTabsNavbar>
      </div>
    }
  </div>
</CascadingValue>

