﻿<EditForm Model="_savedActivityDetails"
          OnValidSubmit="async () => await this.SubmitAsync()"
          Context="CurrentEditContext"
          class="h-100"
          novalidate>
  <FluentValidationValidator />
  <SteppedContent CanContinue="(e) => this.ValidateStep(CurrentEditContext, e)" OnCompleted="async () => await this.SubmitAsync()">
    <Step0>
      <Step Title="Start Time" StepNumber="0" Metadata="@(new string[] { nameof(SavedActivityDetails.StartTime) })" class="w-100">
        <ValidatedDatepicker Label="Start Date"
                             Format="@FormatConstants.DATE_FORMAT"
                             JavascriptFormat="@FormatConstants.DATE_TIME_FORMAT_JAVASCRIPT"
                             @bind-Value="_savedActivityDetails.StartTime" />
        <ValidatedTimepicker Label="Time of Day"
                             Format="@FormatConstants.INPUT_TIME_FORMAT"
                             For="() => _savedActivityDetails.StartTime"
                             @bind-Value="_savedActivityDetails.StartTime" />
      </Step>
    </Step0>
    <Step1>
      <Step Title="End Time" StepNumber="1" Metadata="@(new string[] { nameof(SavedActivityDetails.EndTime) })" class="w-100">
        <ValidatedDatepicker Label="End Date"
                             Format="@FormatConstants.DATE_FORMAT"
                             JavascriptFormat="@FormatConstants.DATE_TIME_FORMAT_JAVASCRIPT"
                             @bind-Value="_savedActivityDetails.EndTime" />
        <ValidatedTimepicker Label="Time of Day"
                             Format="@FormatConstants.INPUT_TIME_FORMAT"
                             For="() => _savedActivityDetails.EndTime"
                             @bind-Value="_savedActivityDetails.EndTime" />
      </Step>
    </Step1>
    <Step2>
      <Step Title="Need an Uber?" StepNumber="2" Metadata="@(new string[] { })" class="d-flex justify-content-center">
        <UberUniversalButton PickupNickname="My Location" 
                             DropoffNickname="@this.Activity.Title"
                             DropoffCoordinates="@(this.Activity.GetComponent<PlaceInfoComponent>().Coordinates)"/>
      </Step>
    </Step2>
  </SteppedContent>
</EditForm>
