﻿@page "/explore"
@if (this.IsLocationSelected)
{
  <div class="row my-3">
    <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12">
      <div class="d-flex flex-column justify-content-start">
        <div id="@_id" class="@ActivityAcceptedTransitionOutAnimationClasses">
          <ActivityResultCard Activity="this.CurrentActivity" ShowPlaceholder="_isLoadingActivities" />
        </div>
        <div class="d-flex justify-content-around mt-3">
          <Button class="@($"w-100 {(_isLoadingActivities ? "disabled" : "")}")" @onclick="async () => await this.NextActivityAsync()">Pass</Button>
          <Button class="@($"w-100 {(_isLoadingActivities ? "disabled" : "")}")" Outline @onclick="this.PlanActivityClicked">Plan</Button>
        </div>
      </div>
    </div>
  </div>
}
else
{
  <div class="row h-100">
    <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12 d-flex flex-column justify-content-center align-items-center text-center">
      <h5 class="mb-5">
        Start by choosing where to find new activites and places.
      </h5>
      <Button @onclick="async () => await _locationModal.OpenAsync()">Choose Search Location</Button>
    </div>
  </div>
}

<LocationModal Id="search-bias-modal"
               Title="Choose Search Location"
               OnSubmit="async (e) => await this.OnLocationSubmitAsync(e)"
               @ref="_locationModal" />

<div class="modal fade bottom" id="@_activityFilterModalId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-frame modal-bottom" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Filter Activities</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <select class="mdb-select md-form" @onchange="async (e) => await this.SelectedFilterChangedAsync(e)">
            <option value="">All</option>
            @foreach (var filterOption in ActivityFilterOption.ALL)
            {
              <option value="@filterOption.Name">@filterOption.Name</option>
            }
          </select>
        </div>
        <hr />
        <div class="d-flex justify-content-center">
          <Button @onclick="async () => await this.ChangeSearchLocationClickedAsync()">Change Search Location</Button>
        </div>
      </div>
    </div>
  </div>
</div>
