﻿@page "/"

<div class="row d-flex flex-column align-items-center py-4">
  @if (this.ScheduledActivities.Any())
  {
    var scheduledActivity = this.ScheduledActivities.First();
    <div class="col-12 d-flex flex-column align-items-center">
      <h5 class="mb-4">@scheduledActivity.SavedActivityDetails.StartTime.ToString("dd MMMM yyyy h:mm tt")</h5>
      <div class="row w-100 no-gutters">
        <div class="col-12">
          <ActivityResultCard Activity="scheduledActivity.Activity" ShowTopImage="false" IsInProgress="scheduledActivity.IsInProgress()">
            <LowerContent>
              <div class="d-flex justify-content-between align-items-center mt-4">
                @if (scheduledActivity.IsInProgress() || _forceShowEndCountdown)
                {
                  <Countdown TargetDate="scheduledActivity.SavedActivityDetails.EndTime" PrefixText="Ends in " />
                }
                else
                {
                  <Countdown 
                             TargetDate="scheduledActivity.SavedActivityDetails.StartTime" 
                             PrefixText="Begins in " 
                             OnCountdownCompleted="this.CountdownCompleted" />
                }
              </div>
            </LowerContent>
          </ActivityResultCard>
        </div>
      </div>
    </div>
  }
  else
  {
    <div>
      <h3>Looks like you have nothing coming up.</h3>
    </div>
  }
</div>