﻿
@if (this.UseAnchorTag)
{
  <a href="@this.Href" target="@this.Target" id="@this.Id" class="waves-effect @this.Classes" @onclick="async (e) => await this.OnClickedAsync(e)" @attributes="this.OtherAttributes">
    @this.Text
    @this.ChildContent
  </a>
}
else
{
  <button type="@this.ButtonType" id="@this.Id" class="waves-effect @this.Classes" @onclick="async (e) => await this.OnClickedAsync(e)" @attributes="this.OtherAttributes">
    @this.Text
    @this.ChildContent
  </button>
}