﻿<Button CustomButtonClass="btn-icon"
        Href="@this.Href"
        Target="@this.Target"
        class="@($"m-0 {this.ButtonClass} {(this.Floating ? "" : "shadow-none")}")"
        Icon
        OnClick="async (e) => await this.OnClickedAsync(e)">
  <i class="fas @this.Classes" style="@($"font-size: {this.FontSize};")" />
</Button>