﻿@typeparam TValue

<div class="row no-gutters">
  <div class="col-12 d-flex">
    <div class="dropdown flex-shrink-0">
      <Button class="dropdown-toggle btn-md" Rectangular Outline data-toggle="dropdown">@this.ButtonText</Button>
      <div class="dropdown-menu dropdown-primary">
        @if (!this.UnselectedOptions.Any())
        {
          <h6 class="dropdown-header">No More Options</h6>
        }
        @foreach (var option in this.UnselectedOptions)
        {
          <a class="dropdown-item" href="#" @onclick:preventDefault @onclick="async () => await this.OnOptionAddedAsync(option)">@this.GetOptionName(option)</a>
        }
      </div>
    </div>
    <div class="d-flex align-items-center" style="overflow-x: auto;">
      @foreach (var selectedOption in SelectedOptions)
      {
        <RemovableChip Text="@this.GetOptionName(selectedOption)" OnRemoved="async () => await this.OnOptionRemovedAsync(selectedOption)" />
      }
    </div>
  </div>
</div>