﻿<div class="chip" @onclick="async () => await this.OnClickAsync()" style="background-color: @(this.IsSelected ? "#cdcfd1" : "#eceff1")">
  @if (this.IsSelected)
  {
    <i class="fas fa-check"></i>
  }
  @this.Text
</div>