﻿<div class="dropdown">
  <button id="im-feeling-dropdown" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" type="button">I'm feeling...</button>
  <div class="dropdown-menu dropdown-primary">
    @foreach (var option in _imFeelingOptions)
    {
      <a class="dropdown-item" href="#" @onclick:preventDefault @onclick="async () => await this.OnOptionClickedAsync(option)">@option.Name</a>
    }
  </div>
</div>