﻿
<div class="@($"card {this.CardClass}")">
  @if (!this.ShowPlaceholder)
  {
    @this.AboveBody
  }
  <div class="@($"card-body {this.CardBodyClass}")">
    @if (this.ShowPlaceholder)
    {
      @this.Placeholder
    }
    else
    {
      @this.Body
    }
  </div>
  <div class="@($"{this.CardAccentColorClass} rounded-bottom")" style="height: 3px;">
  </div>
</div>