﻿
<div id="@_timepickerDivId"
     class="md-form md-outline input-with-post-icon timepicker mb-2"
     twelvehour="false" min="@(this.Minimum.HasValue ? this.Minimum.Value.ToString("hh:mmtt") : "")"
     minutestep="5">
  <input id="@_timepickerInputId" type="text" class="form-control"
         value="@this.Value.ToString(this.Format)"
         @oninput="async (e) => await this.OnValueChangedAsync(e.Value.ToString())"
         @onchange="async (e) => await this.OnValueChangedAsync(e.Value.ToString())" />
  <label for="@_timepickerInputId" class="p-0 active">@this.Label</label>
  <i class="fas fa-clock input-prefix text-primary" tabindex=0 />
</div>
@if (this.For != null)
{
  <ErrorText>
    <ValidationMessage For="@this.For" />
  </ErrorText>
}
