﻿
<div id="@_datepickerDivId" class="md-form md-outline input-with-post-icon datepicker mb-2">
  <input id="@_datepickerInputId" type="text" class="form-control active-check"
         value="@this.Value.ToString(this.Format)"
         @oninput="async (e) => await this.OnValueChangedAsync(e.Value.ToString())"
         @onchange="async (e) => await this.OnValueChangedAsync(e.Value.ToString())" />
  <label for="@_datepickerInputId" class="p-0 active">@this.Label</label>
  <i class="fas fa-calendar input-prefix text-primary" tabindex=1 />
</div>
@if (this.For != null)
{
  <ErrorText>
    <ValidationMessage For="@this.For" />
  </ErrorText>
}
