﻿@typeparam TValue

<div class="md-form md-outline @(this.Large ? "form-lg" : "")">
  <div class="form-group">
    <input type="@this.Type" 
           class="form-control @(this.Class) @(this.Large ? "form-control-lg" : "")"
           id="@this.Id" 
           @oninput="async (eventArgs) => await this.OnInputAsync(eventArgs)" 
           @bind="this.Value" />
    <label for="@this.Id">@this.Label</label>
    <ValidationMessage For="this.For" />
  </div>
</div>