﻿<nav class="navbar sticky-top primary-color p-0" style="height: 58px;">
  <div class="container-fluid p-0">
    <div class="row w-100 no-gutters d-flex align-items-center">
      <div class="col-4 p-0 d-flex align-items-center">
        @if (!this.HideNavigationArrow)
        {
          <IconButton IconClass="fa-arrow-left" FontSize="21px" ColorClass="text-white" ButtonClass="mr-auto" OnClick="async () => await this.OnBackClickedAsync()" />
        }
      </div>
      <div class="col-4 d-flex justify-content-center align-items-center" style="font-size: 18px;">
        @Title
      </div>
      <div class="col-4 p-0 d-flex justify-content-end">
        @this.RightSideContent
      </div>
    </div>
  </div>
</nav>