﻿<div class="modal fade" id="result-card-expanded" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" @onscroll:stopPropagation>
  <div class="modal-dialog h-100 w-100 m-0" role="document">
    <div class="modal-content h-100 w-100">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>