﻿<div class="modal fade" id="@this.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm modal-notify modal-danger" role="document">
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Are you sure?</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fas fa-times fa-4x animated rotateIn"></i>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <a class="btn btn-outline-danger" @onclick="async () => await this.ConfirmClickedAsync()" data-dismiss="modal">Yes</a>
        <button class="btn btn-danger waves-effect" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>