﻿<div class="modal fade" id="@this.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">@this.Title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <EditForm Model="this.Model" OnValidSubmit="async () => await this.OnSubmitAsync()">
        <div class="modal-body">
          <FluentValidationValidator />
          <div>
            <ValidatedDatepicker Label="Date"
                                 Format="@FormatConstants.DATE_FORMAT"
                                 JavascriptFormat="@FormatConstants.DATE_TIME_FORMAT_JAVASCRIPT"
                                 For="() => this.Model.StartTime"
                                 @bind-Value="this.Model.StartTime" />
          </div>
          <div>
            <ValidatedTimepicker Label="Time of Day"
                                 Format="@FormatConstants.INPUT_TIME_FORMAT"
                                 For="() => this.Model.StartTime"
                                 @bind-Value="this.Model.StartTime" />
          </div>
        </div>
        <div class="modal-footer">
          <Button Submit Outline OnClick="async () => await this.CloseAsync()">Save Changes</Button>
          <Button OnClick="async () => await this.CloseAsync()">Cancel</Button>
        </div>
      </EditForm>
    </div>
  </div>
</div>
