﻿<div class="modal fade" id="@this.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">@this.Title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      @this.Model.PlaceName
      <EditForm Model="this.Model" 
                OnValidSubmit="async () => await this.OnSubmitAsync()" 
                Context="CurrentEditContext"
                novalidate>
        <div class="modal-body">
          <FluentValidationValidator />
          <div class="mb-4">
            <PlaceAutocompleteInput @bind-Value="@this.Model.PlaceName" PlaceChanged="(e) => this.OnPlaceChanged(e)" class="mb-1" @ref="_placeAutocompleteInput" />
            <ValidationMessage For="@(() => this.Model.PlaceName)" />
            <ValidationMessage For="@(() => this.Model.Coordinates)" />
          </div>
          <div class="mb-4 text-center" style="font-size: 16px;">
            Or
          </div>
          <div class="row">
            <div class="col-12">
              <Button class="btn-block" OnClick="async () => await this.OnUseMyLocationClickedAsync()">Use My Location</Button>
            </div>
            @if (_showCurrentLocationNotFoundError)
            {
              <div class="col-12 text-danger text-center mt-2">
                We couldn't find your location.<br /> 
                Check your location permission settings.
              </div>
            }
          </div>
        </div>
        <div class="modal-footer">
          <Button Outline OnClick="async () => await this.SubmitIfValidAsync(CurrentEditContext)">Set Location</Button>
          <Button OnClick="async () => await this.CloseAsync()">Cancel</Button>
        </div>
      </EditForm>
    </div>
  </div>
</div>