﻿@page "/authentication/{action}"

<div class="d-none">
  <RemoteAuthenticatorView Action="@this.Action" />
</div>
<div class="row h-100">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center">
    <div class="mb-5">
      @if (this.Action == RemoteAuthenticationActions.LogIn)
      {
        <h3>Logging In</h3>
      }
      else if (this.Action == RemoteAuthenticationActions.LogOut)
      {
        <h3>Switching Accounts</h3>
      }
    </div>
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-primary-color-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>