﻿
@mixin opacity-pulse-animation {
  animation-name: opacity-pulse;
  animation-duration: 2.4s;
  animation-iteration-count: infinite;
  animation-delay: -1s;
}

@mixin placeholder {
  background-color: #ccd2de;
  @include opacity-pulse-animation;
}

.text-lg-placeholder {
  height: 20px;
  @include placeholder;
}

.text-placeholder {
  height: 8px;
  @include placeholder;
}

.btn-md-placeholder {
  height: 38px;
  width: 40%;
  @include placeholder;
}

.generic-placeholder {
  @include placeholder;
}

@keyframes opacity-pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.35;
  }

  100% {
    opacity: 1;
  }
}