﻿@import "partials/variables";

.btn.btn-yelp {
  background-color: $yelp-color;
  color: white;
}

.btn.btn-uber {
  background-color: $uber-color;
  color: white;
}

.btn-floating.btn-icon {
  background-color: transparent;
}

.text-grey {
  color: grey !important;
}
