﻿<div class="text-lg-placeholder w-50" />
<div class="text-placeholder w-75 mt-4" />
<div class="text-placeholder w-100 mt-3" />
<div class="text-placeholder w-50 mt-3" />
<div class="text-placeholder w-100 mt-4" />
<div class="btn-md-placeholder mt-4" />