﻿
<style>
  .result-image {
    height: 35vh;
    object-fit: cover;
  }
</style>

@{ 
  var placeReviews = this.Activity?.GetComponent<PlaceReviewsComponent>();
  var placeInfo = this.Activity?.GetComponent<PlaceInfoComponent>();
  <Card CardClass="card-cascade" CardBodyClass="card-body-cascade" ShowPlaceholder="@this.ShowPlaceholder" CardAccentColorClass="@this.CardAccentColorClass">
    <AboveBody>
      @if (this.Activity.HasComponent<ImagesComponent>() && this.ShowTopImage)
      {
        <div class="view view-cascade" overlay>
          <img class="card-img-top result-image" src="@this.GetImageUrl()" />
        </div>
      }
    </AboveBody>
    <Body>
      @if (placeInfo != null)
      {
        <h4 class="card-title text-truncate-2 font-weight-bold">@placeInfo.Name</h4>
      }
      @if (placeReviews != null)
      {
        <YelpReviewsSummary Rating="@placeReviews.Rating" 
                            SourceUrl="@placeReviews.ReviewSourceUrl" 
                            TotalReviews="@placeReviews.ReviewCount" 
                            PriceLevelTitle="@(placeInfo?.PriceLevelTitle ?? string.Empty)" />
      }
      @if (placeInfo != null && placeInfo.Categories.Any())
      {
        <h6 class="text-muted mt-2 mb-0">
          @(string.Join(", ", placeInfo.Categories))
        </h6>
      }
      @this.LowerContent
    </Body>
    <Placeholder>
      <ActivityCardPlaceholder />
    </Placeholder>
  </Card>
}
