﻿<button class="btn btn-white shadow-none waves-effect m-0 px-0 py-1 w-100 bottom-tab-button text-muted rounded-0" @onclick="this.OnClick">
  <div style="font-size: large;">
    <i class="fas @this.IconClass"></i>
  </div>
  <div style="font-size: 10px;">
    @this.Text
  </div>
</button>