﻿<CascadingValue Value="_steppedContentContext">
  <div class="h-100">
    <div class="@($"h-100 {(_steppedContentContext.CurrentStepNumber != 0 ? "d-none" : "")}")">
      @this.Step0
    </div>
    <div class="@($"h-100 {(_steppedContentContext.CurrentStepNumber != 1 ? "d-none" : "")}")">
      @this.Step1
    </div>
    <div class="@($"h-100 {(_steppedContentContext.CurrentStepNumber != 2 ? "d-none" : "")}")">
      @this.Step2
    </div>
    <div class="@($"h-100 {(_steppedContentContext.CurrentStepNumber != 3 ? "d-none" : "")}")">
      @this.Step3
    </div>
  </div>
</CascadingValue>
<div class="d-flex fixed-bottom mb-3 mx-3">
  @if (!this.HidePrevious)
  {
    <Button Outline class="@($"flex-1 {(this.DisablePrevious ? "disabled" : "")}")" @onclick="async () => await this.OnPreviousClickedAsync()">Previous</Button>
  }
  <Button class="flex-1" @onclick="async () => await this.OnProceedClickedAsync()">
    @if (!this.IsLastStep)
    {
      <div>Continue</div>
    }
    else
    {
      <div>Finish</div>
    }
  </Button>
</div>