﻿@page "/activities"

<div class="row sticky-top">
  <div class="col-12 modal-padding-fix p-0">
    <ul class="nav nav-tabs nav-justified md-tabs rounded-0 tabs-primary m-0">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#active-activities-tab-content" role="tab" aria-controls="profile-classic" aria-selected="true">
          Active
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#finished-activities-tab-content" role="tab" aria-controls="profile-classic" aria-selected="true">
          Finished
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#saved-activities-tab-content" role="tab" aria-controls="profile-classic" aria-selected="true">
          Saved
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="tab-content px-0 py-4">
  <div id="active-activities-tab-content" class="tab-pane fade active show">
    <div class="row d-flex flex-column align-items-center">
      @for (var idx = 0; idx < this.ScheduledActivities.Count; idx++)
      {
        var scheduledActivity = this.ScheduledActivities[idx];
        <div class="col-12 d-flex flex-column align-items-center">
          <h5 class="mb-4">@scheduledActivity.SavedActivityDetails.StartTime.ToString("dd MMMM yyyy h:mm tt")</h5>
          <div>
            <ActivityResultCard Activity="scheduledActivity.Activity">
              <LowerContent>
                <div class="d-flex justify-content-between align-items-center mt-4">
                  <div>
                    <Button class="m-0" Short OnClick="() => this.OnPlanClicked(scheduledActivity.Activity)">Plan</Button>
                  </div>
                  <div class="d-flex justify-content-center">
                    <IconButton class="m-0" IconClass="fa-calendar-day" />
                    <IconButton class="m-0" IconClass="fa-trash" OnClick="async () => await this.ShowDeleteActivityConfirmationAsync(scheduledActivity.Activity)" />
                  </div>
                </div>
              </LowerContent>
            </ActivityResultCard>
          </div>
          @if (idx != this.ScheduledActivities.Count -1)
          {
            <hr class="w-100 my-4" />
          }
        </div>
      }
    </div>
  </div>
  <div id="saved-activities-tab-content" class="tab-pane fade">
    @foreach (var scheduledActivity in this.SavedForLaterActivities)
    {
      <ActivityResultCard Activity="scheduledActivity.Activity" />
    }
  </div>
</div>

<ConfirmDeleteModal Id="@_confirmDeleteActivityModalId" OnConfirmed="async () => await this.RemoveConfirmedAsync()" @ref="_confirmDeleteModal" />
