﻿@page "/activities/{activityIdentifier}"

<style>
  #primary-image {
    height: 40vh;
    object-fit: cover;
  }
</style>

<div class="row animated fadeIn">
  <div class="col-12">
    <h4 class="font-weight-bold m-0 py-3 text-center">@this.GetTitle()</h4>
    <hr class="mt-0" />
  </div>
  <div class="col-12">
    <Card ShowPlaceholder="_isLoading">
      <Body>
        <YelpReviewsSummary Rating="@this.GetRating()" SourceUrl="@this.GetReviewSourceUrl()" TotalReviews="@this.GetReviewCount()" />
        <hr />
        <a href="@this.GetReviewSourceUrl()" target="_blank" class="btn btn-yelp btn-md m-0">Write a Review!</a>
      </Body>
      <Placeholder>
        <TitleTextCardPlaceholder />
      </Placeholder>
    </Card>
  </div>
  <div class="col-12 mt-4">
    <Card ShowPlaceholder="_isLoading">
      <Body>
        <h4 class="card-title">Location</h4>
        @foreach (var addressLine in this.GetLocationComponent().DisplayAddresses)
        {
          <div>
            @addressLine
          </div>
        }
        <div class="d-flex justify-content-between align-items-center mt-4">
          <div>
            @*<Button class="btn-md m-0 d-flex align-items-center justify-content-center w-100 py-2" CustomButtonClass="btn-uber">
              <i class="fab fa-uber mr-1" style="font-size: 25px" />
              Schedule Uber
            </Button>*@
            @*<UberUniversalButton />*@
          </div>
          <div>
            <IconButton Href="@_mapsUrl" Target="_blank" class="m-0" IconClass="fa-directions" FontSize="25px" />
          </div>
        </div>
      </Body>
      <Placeholder>
        <TitleTextCardPlaceholder />
      </Placeholder>
    </Card>
  </div>
  <div class="col-12 mt-4">
    <div class="row">
      <div class="col-12">
        <h4 class="text-center">Details</h4>
      </div>
      <div class="col">
        <Card ShowPlaceholder="_isLoading">
          <Body>
            <div class="card-title d-flex justify-content-between align-items-center">
              <h4 class="m-0 d-flex justify-content-between align-items-center">
                <i class="fas fa-clock mr-3" />
                Start Time
              </h4>
              <a class="btn-floating btn-sm btn-secondary z-depth-1 my-0 mr-0" @onclick="async () => await _editActivityStartTimeModal.OpenAsync()">
                <i class="fas fa-pen ml-auto" />
              </a>
            </div>
            <div>
              @_savedActivity?.SavedActivityDetails.StartTime.ToString(FormatConstants.DATE_FORMAT)
            </div>
            <div>
              @_savedActivity?.SavedActivityDetails.StartTime.ToString(FormatConstants.TIME_FORMAT)
            </div>
          </Body>
          <Placeholder>
            <TitleTextCardPlaceholder />
          </Placeholder>
        </Card>
      </div>
      <div class="col-sm col-12">
        <div class="mt-md-0 mt-3">
          <Card ShowPlaceholder="_isLoading">
            <Body>
              <div class="card-title d-flex justify-content-between align-items-center">
                <h4 class="m-0 d-flex justify-content-between align-items-center">
                  <i class="fas fa-sticky-note mr-3" />
                  Instructions
                </h4>
                <a class="btn-floating btn-sm btn-secondary z-depth-1 my-0 mr-0">
                  <i class="fas fa-pen ml-auto" />
                </a>
              </div>
            </Body>
            <Placeholder>
              <TitleTextCardPlaceholder />
            </Placeholder>
          </Card>
        </div>
      </div>
    </div>
  </div>
</div>

@if (_savedActivity != null)
{
  <EditActivityStartTimeModal Model="this.GetSavedActivityDetailsViewModel()" 
                              Title="Edit Start Time" 
                              Id="edit-start-time-modal" 
                              OnSubmit="async (vm) => await this.EditSavedActivityDetailsAsync(vm)"
                              @ref="_editActivityStartTimeModal" />
}
