﻿<div>
  <div class="row align-items-center">
    <div class="col-auto pr-0 align-self-end">
      <YelpStars Rating="@this.Rating" />
    </div>
    <div class="col-6">
      <a href="@this.SourceUrl" target="_blank">
        <img class="yelp-logo" src="img/yelp/yelp-logo.svg" />
      </a>
    </div>
  </div>
  @if (!string.IsNullOrEmpty(this.PriceLevelTitle))
  {
    <div class="text-muted mt-1">
      @this.PriceLevelTitle • Based on @this.TotalReviews Reviews
    </div>
  }
  else
  {
    <div class="text-muted mt-1">
      Based on @this.TotalReviews Reviews
    </div>
  }
</div>
